<!DOCTYPE html>
<html>
<title>Student Functionality</title>

<head>
<meta name="description" content="">  
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<meta charset="utf-8">   
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body {margin: 0;}
ul.topnav{
	list-style-type: none; margin: 0; padding: 0; top :0; width: 100%; 
	position: fixed; overflow: hidden; background-color: #333;
}
ul.topnav li {float: left;}
ul.topnav li a {
	display: block; color: white; text-align: center;
	padding: 14px 16px; text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li a.active {
	font-color :white; font-size :25px;	background-color: #000000;
}
ul.topnav li.right {
	font-color :white; font-size :20px; padding-top: 3px;
	background-color: #000000; float: right;
}
ul.topnav li.center {
	color :white; padding-top: 8px;
	padding-left: 500px; font-size :30px;
}/*
@media screen and (max-width: 600px) {
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}*/
body {
	/*background: url("images/dashboard.jpg");*/
	background-repeat: no-repeat; background-size: cover;
	height : 100%; width : 100%;
	font-family: "Lato", sans-serif;
}
.sidenav {
	height: 100%; width: 18%; position: fixed; z-index: 1;
	top: 63   ; color: white; left: 0; background-color: #3081C8;
	overflow-x: hidden; padding-top: 20px;
}
.sidenav a {
	padding: 6px 6px 6px 32px; text-decoration: none;
	font-size: 25px;color: #FFFFFF; display: block;
}
.sidenav a:hover {
	color: #f1f1f1;
}
.main {
	margin-top: 75px; margin-left: 200px;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
#nam {
		font-size: 27px; text-align: center;
}
</style>
</head>

<header>
<div class="header" id="myHeader">
		 <ul class="topnav">
				<li class="right"><a href="/logout">Logout</a></li>
				<li class="center">Student Functionality </li>

			</ul>
</div>
</header>

<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
		<div class="sidenav">
			<img src="peclogo.png" width="250px" height="250px" style="margin: 0px 10px";>
			<br>
			<br>
			<br>
			<a href="/ViewStProfile">View Profile</a>
			<a href="/UpdateStProfile">Update Profile</a>
			<a href="/ViewStAchievements">View Achievements</a>
			<a href="/RequestInitiation">Request Initiation</a>
		</div>

</html>